@page "/history"


<select @onchange="GetExerciseHistory">
    <option value="" disabled selected>Select an exercise</option>
    @{

        foreach (var item in exerciseList)
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>


<div>
    @foreach (var viewModel in vmList)
    {
        <HistoryList HistoryViewModel="viewModel"  />
    }
</div>


@* @if(vmList != null)
{
    <div>
        @foreach (var viewModel in vmList)
        {
            <h1>@viewModel.Date.ToString("dd/MM/yyyy")</h1>
            @foreach (var set in viewModel.Log)
            {
                <h4>@set.Reps</h4>
                <h4>@set.Weight</h4>
            }
            <br />
        }
    </div>
} *@

@* @if (WorkOutViewModel != null)
{
    <div class="col-12 mb-3">
        <div class="border border-secondary p-3">
            <div class="d-flex align-items-center">
                <div>
                    <h2>@WorkOutViewModel.ExerciseName</h2>
                </div>
                <div class="ms-auto">
                    <a href="javascript:;" @onclick="(e) => DeleteExercise(WorkOutViewModel.ExerciseCarriedOutId)">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </a>
                </div>
            </div>
            <table class="table">
                @if (WorkOutViewModel.SetLogs.Any())
                {
                    <thead>
                        <tr>
                            <th></th>
                            <th>Reps</th>
                            <th>Weight</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                }
                <tbody>

                    @foreach (var set in WorkOutViewModel.SetLogs)
                    {
                        <tr>
                            <td class="fw-bold">Set</td>
                            <td>
                                <input size="4" @bind="set.Reps" class="form-control" readonly="@set.IsReadOnly" />
                            </td>
                            <td>
                                <input size="4" @bind="@set.Weight" class="form-control" readonly="@set.IsReadOnly" />
                            </td>
                            <td>
                                <a href="javascript:;" class="edit-action" @onclick="(e) => EditActionClicked(set)">
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                </a>
                                <a href="javascript:;" @onclick="(e) => DeleteSet(set.SetLogId)">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                                <a href="javascript:;" @onclick="(e) => SaveSet(set)">
                                    <span class="material-symbols-outlined">
                                        save
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <NotificationBanner Message="Set logged successfully" ShowNotification="@showNotification"></NotificationBanner>
            <button class="btn-primary" @onclick="AddSet">Add Set</button>
        </div>
    </div>
} *@